<a href="https://colab.research.google.com/github/IgorHolin/Math_stat/blob/main/HW_9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
from scipy import stats as stats
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

Даны значения величины заработной платы заемщиков банка (zp) и значения их поведенческого кредитного скоринга (ks): zp = [35, 45, 190, 200, 40, 70, 54, 150, 120, 110], ks = [401, 574, 874, 919, 459, 739, 653, 902, 746, 832]. Используя математические операции, посчитать коэффициенты линейной регрессии, приняв за X заработную плату (то есть, zp - признак), а за y - значения скорингового балла (то есть, ks - целевая переменная). Произвести расчет как с использованием intercept, так и без.

In [18]:
# y = a + bx - intercept

X = np.array([35, 45, 190, 200, 40, 70, 54, 150, 120, 110])
Y = np.array([401, 574, 874, 919, 459, 739, 653, 902, 746, 832])
# проверка графиком на линейность
# plt.scatter(X,Y)
# plt.show()
b1 = (10*np.sum(X*Y) - np.sum(X) * np.sum(Y))/(10*np.sum(X**2) - np.sum(X)**2)
b0 = np.mean(Y) - b1*np.mean(X)
print(f'beta_1 = {b1:.3}; beta_0 = {b0:.5}')
l = len(X)

# y = a + bx
y_pred = b0 + b1*X
print(y_pred)

beta_1 = 2.62; beta_0 = 444.18
[535.89621821 562.10160703 942.07974498 968.2851338  548.99891262
 627.61507909 585.68645697 837.25818968 758.64202321 732.43663439]

Посчитать коэффициент линейной регрессии при заработной плате (zp), используя градиентный спуск (без intercept).

In [20]:
alpha = 1e-6
B1 = 0.1
n = 10

def mse_(B1, y = Y, x = X, n = 10):
  return np.sum((B1*x - y)**2)/n


for i in range(3000):
  B1 -= alpha*(2/n)*np.sum((B1 * X - Y)*X)
  if i % 500 == 0:
    print(f'Iter = {i}; B1 = {B1}, mse = {mse_(B1)}')
mse_(0.15182937)

#не могу вычислить где тут ошибка

Iter = 0; B1 = 0.25952808, mse = 493237.7212546963
Iter = 500; B1 = 5.889815595583751, mse = 56516.858416040064
Iter = 1000; B1 = 5.8898204201285544, mse = 56516.85841571941
Iter = 1500; B1 = 5.889820420132673, mse = 56516.85841571943
Iter = 2000; B1 = 5.889820420132673, mse = 56516.85841571943
Iter = 2500; B1 = 5.889820420132673, mse = 56516.85841571943

510105.0939708597